<p id="notice"><%= notice %></p>

<section class="small-section bg-light-gray">
  <div class="container">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading"><%= @procedure.name %></h2>
    </div>
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <div class="panel panel-procedure">
          <div class="panel-heading">
            <h2 class="panel-title">Welcome</h2>
            <p class="instructions">You'll find all the information you need about <%= @procedure.name %> here. </p>
          </div>
          <div class="panel-body">

            <div class="row">
              <div class="col-sm-offset-1 col-sm-5">
                <h3>Procedure Information</h3>
                <p><strong>Name: </strong><%= @procedure.name %></p> 
                <p><strong>Category: </strong><%= @procedure.category %></p> 
                <p><strong>Slug: </strong><%= @procedure.slug %></p> 
                <%= link_to 'Edit', edit_procedure_path(@procedure) %> |
                <%= link_to 'Back', procedures_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
